<div class="container">
  <form id="regForm" action="" class="form-group">

    <h1>Seeker Register:</h1>
     
    <!-- One "tab" for each step in the form: -->
    <div class="tab"><span style="color:mediumblue;"> Basic details</span>
      <p><input type="username" class="form-control" id="username" placeholder="username"></p>
      <p><input type="email" class="form-control" id="email" placeholder="email"></p>
      <p><input type="mobileNo" class="form-control" id="mobileNo" placeholder="mobileNo"></p>
    </div>
    
    <div class="tab"><span style="color:mediumblue;"> Personal details </span>
      <p><input type="hometown" class="form-control" id="hometown" placeholder="hometown"></p>
      <p><input type="areaofinterest" class="form-control" id="areaofinterest" placeholder="Areas Of Interest (mech, cse, civil, ect.)"></p>
      <p><input type="yearsofexperience" class="form-control" id="yearsofexperience" placeholder="Years Of Experience"></p>
      <p><input type="MaterialStatus" class="form-control" id="MaterialStatus" placeholder="Material Status (married/unmarried)"></p>
      <p><input type="Nationality" class="form-control" id="Nationality" placeholder="Nationality"></p>
      <p><input type="Languagesknown" class="form-control" id="Languagesknown" placeholder="Languages known (Telugu/Hindi/English)"></p>
    </div>
    
    <div class="tab"><span style="color:mediumblue;"> professional details </span>
      <p><input type="currentlast" class="form-control" id="currentlast" placeholder="Your Current/Last Job Location"></p>
      <p><input type="YearsOfExperience" class="form-control" id="YearsOfExperience" placeholder="Years Of Experience in last / Current Job"></p>
      <p><input type="jobrole" class="form-control" id="jobrole" placeholder="Job Role / Designation"></p>
      <p><input type="Department " class="form-control" id="Department " placeholder="Department (web desing, web develop, etc.)"></p>
      <p><input type="Reasonsofleaving " class="form-control" id="Reasonsofleaving " placeholder="Reasons of leaving current / last job"></p>
  
    </div>
  
    </form>
</div>
